/Beneficiaries.Solution/.vs/Beneficiaries.Solution/DesignTimeBuild/.dtbcache.v2
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/f4612f64-0775-4977-9287-dfcca2d5f1b1.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/v17/.futdcache.v2
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/v17/.suo
/Beneficiaries.Solution/.vs/ProjectEvaluation/beneficiaries.solution.metadata.v7.bin
/Beneficiaries.Solution/.vs/ProjectEvaluation/beneficiaries.solution.projects.v7.bin
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.AssemblyInfo.cs
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.AssemblyInfoInputs.cache
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.GeneratedMSBuildEditorConfig.editorconfig
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.GlobalUsings.g.cs
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/51ae33b0-6e6c-49b5-85dd-20483fbbda5c.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/92a3fc59-5fb2-4eb0-b14e-9a849fa2379a.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/9b78678a-cefb-4ded-9e4c-0cf2dbe34bce.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/a7034575-6db4-446d-9a96-449aafd6f047.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/e6c74e34-7b89-4a9b-900b-f32a0242d3e3.vsidx
/Beneficiaries.Solution/Beneficiaries.Core/obj/Beneficiaries.Core.csproj.nuget.dgspec.json
/Beneficiaries.Solution/Beneficiaries.Core/obj/Beneficiaries.Core.csproj.nuget.g.props
/Beneficiaries.Solution/Beneficiaries.Core/obj/Beneficiaries.Core.csproj.nuget.g.targets
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.assets.cache
/Beneficiaries.Solution/Beneficiaries.Core/obj/project.assets.json
/Beneficiaries.Solution/Beneficiaries.Core/obj/project.nuget.cache
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/2b707c2f-1211-4755-ae56-eadc793470c3.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/36f8576b-76a4-4f75-9f24-d03558c6766d.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/4c901e06-3089-4e49-a563-b0c3af970bbd.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/b0f58013-782b-463e-82d5-99eeeecd32b1.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/d02dd90d-7b3c-4093-ac7c-c5bf217b07e8.vsidx
/Beneficiaries.Solution/Beneficiaries.Core/bin/Debug/net6.0/Beneficiaries.Core.deps.json
/Beneficiaries.Solution/Beneficiaries.Core/bin/Debug/net6.0/Beneficiaries.Core.dll
/Beneficiaries.Solution/Beneficiaries.Core/bin/Debug/net6.0/Beneficiaries.Core.pdb
/Beneficiaries.Solution/Beneficiaries.Core/bin/Debug/net6.0/Beneficiaries.Core.runtimeconfig.json
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.csproj.AssemblyReference.cache
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.csproj.CoreCompileInputs.cache
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.csproj.FileListAbsolute.txt
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.dll
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.genruntimeconfig.cache
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.pdb
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.sourcelink.json
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/ref/Beneficiaries.Core.dll
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/refint/Beneficiaries.Core.dll
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/2d4f8f5d-ea94-497a-814c-367fdcdac50a.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/2e517d95-4591-459a-a984-2ba55aa7508a.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/f12f3e17-e9fe-4069-99ee-130513d0dcca.vsidx
/Beneficiaries.Solution/Beneficiaries.API/obj/Beneficiaries.API.csproj.nuget.dgspec.json
/Beneficiaries.Solution/Beneficiaries.API/obj/Beneficiaries.API.csproj.nuget.g.props
/Beneficiaries.Solution/Beneficiaries.API/obj/Beneficiaries.API.csproj.nuget.g.targets
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.AssemblyInfo.cs
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.AssemblyInfoInputs.cache
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.assets.cache
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.csproj.AssemblyReference.cache
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.GeneratedMSBuildEditorConfig.editorconfig
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.GlobalUsings.g.cs
/Beneficiaries.Solution/Beneficiaries.API/obj/project.assets.json
/Beneficiaries.Solution/Beneficiaries.API/obj/project.nuget.cache
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/aa3a159f-cd1c-4429-a462-a4c163cbe326.vsidx
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/appsettings.Development.json
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/appsettings.json
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Beneficiaries.API.deps.json
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Beneficiaries.API.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Beneficiaries.API.exe
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Beneficiaries.API.pdb
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Beneficiaries.API.runtimeconfig.json
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Beneficiaries.Core.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Beneficiaries.Core.pdb
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Humanizer.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.OpenApi.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.Diagnostics.DiagnosticSource.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.Drawing.Common.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.Runtime.Caching.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.Security.Permissions.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.Windows.Extensions.dll
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/apphost.exe
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.csproj.CopyComplete
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.csproj.CoreCompileInputs.cache
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.csproj.FileListAbsolute.txt
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.dll
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.genruntimeconfig.cache
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.MvcApplicationPartsAssemblyInfo.cache
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.MvcApplicationPartsAssemblyInfo.cs
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.pdb
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.sourcelink.json
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/ref/Beneficiaries.API.dll
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/refint/Beneficiaries.API.dll
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/staticwebassets.build.json
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/staticwebassets/msbuild.build.Beneficiaries.API.props
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.Beneficiaries.API.props
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.Beneficiaries.API.props
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/4c51a86d-8410-4761-b188-2da13a2e747f.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/89b64f24-2072-4b09-af5f-d9da15c06caf.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/8a38b6c7-c4d8-4843-a3e9-784ca7668c8f.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/c8adc74c-8e73-40b5-88f0-0dc78e8b8e26.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/e282148b-67e0-4027-a941-44ed93beeb36.vsidx
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.Extensions.Configuration.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
/Beneficiaries.Solution/Beneficiaries.Core/obj/Beneficiaries.Core.csproj.EntityFrameworkCore.targets
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/22a27bfd-5c1f-450a-b366-03ed8894e0e5.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/95dd9dea-665f-4b70-ac99-5fd5a7813ac4.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/a1a35347-aa0a-4dd6-990a-8719616101b2.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/b108e5f2-99d5-4ece-b365-17e3d67f462e.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/22b1e9a3-9ef7-4745-a068-8e82ebdf4df1.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/3cde74fb-0004-4c57-9e90-47201d998613.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/4a0b8f80-143a-4731-aba0-571532210d2f.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/7113c7cf-cc9b-4bc1-ba43-d281471b9b40.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/c74e5f30-d46d-4496-935c-ffa46eee624a.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/v16/.suo
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/6a546c1b-2d8e-474e-a041-5dd271746f8c.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/6ec50670-7b98-4ba6-8bc1-b275f8ca69dc.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/85b6e7bc-6724-42ef-9e83-325bc82b53c6.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/b2779ebd-a81a-4d76-a5d6-149ae11b1099.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/bf6f8ee7-88c7-4f75-8cab-558a5787986b.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/4a9bc57d-8713-48e2-82a7-4943d755937e.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/9c85bbd4-bf59-414e-bbb8-0ada98c3a712.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/f7fa6422-35f5-41a5-aa20-bfc40d3754d4.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/ad2534d2-89f1-4029-bd73-ddd178cb1d33.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/8fa420e5-89a2-4510-bb56-f573322f61b5.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/9bf2e62e-0932-4589-81be-e58402cb90f5.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/a1d9f294-e3ae-4f2d-ba66-9250786f5dcd.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/e1bebcb5-2c4a-4565-8321-69d87fb2b782.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/3fd54151-1a4a-4f93-af96-fa78073629f8.vsidx
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.csproj.BuildWithSkipAnalyzers
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/01a08214-b32f-4ab0-a53b-33982be55074.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/4d72514e-007b-4801-86c0-ff8769ea86b9.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/6590714f-9ccf-49df-a626-a060039f804f.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/7ab6fc3e-d6f8-4acb-85a5-0dae812ca59a.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/edf5adea-63e9-4baf-81e4-ed6c031cf43b.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/51393352-c551-41d8-91e5-53de4432e85a.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/5915d029-277d-42fa-b251-f8b5d85508b0.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/ae6ee078-0703-45ae-8ba1-fa39d357567e.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/e08d20bb-f532-4a88-b6b0-24b947b8f44e.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/ecf88930-c973-42d7-8825-33103661c729.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/42ddf83b-36b5-4cbb-9d9e-c8097b8a6762.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/47740cd8-942b-4403-8001-2d186aa352c7.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/bb7463ae-2815-4cd2-b5d2-10d43471138f.vsidx
