/Beneficiaries.Solution/.vs/Beneficiaries.Solution/DesignTimeBuild/.dtbcache.v2
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/f4612f64-0775-4977-9287-dfcca2d5f1b1.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/v17/.futdcache.v2
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/v17/.suo
/Beneficiaries.Solution/.vs/ProjectEvaluation/beneficiaries.solution.metadata.v7.bin
/Beneficiaries.Solution/.vs/ProjectEvaluation/beneficiaries.solution.projects.v7.bin
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.AssemblyInfo.cs
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.AssemblyInfoInputs.cache
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.GeneratedMSBuildEditorConfig.editorconfig
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.GlobalUsings.g.cs
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/51ae33b0-6e6c-49b5-85dd-20483fbbda5c.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/92a3fc59-5fb2-4eb0-b14e-9a849fa2379a.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/9b78678a-cefb-4ded-9e4c-0cf2dbe34bce.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/a7034575-6db4-446d-9a96-449aafd6f047.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/e6c74e34-7b89-4a9b-900b-f32a0242d3e3.vsidx
/Beneficiaries.Solution/Beneficiaries.Core/obj/Beneficiaries.Core.csproj.nuget.dgspec.json
/Beneficiaries.Solution/Beneficiaries.Core/obj/Beneficiaries.Core.csproj.nuget.g.props
/Beneficiaries.Solution/Beneficiaries.Core/obj/Beneficiaries.Core.csproj.nuget.g.targets
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.assets.cache
/Beneficiaries.Solution/Beneficiaries.Core/obj/project.assets.json
/Beneficiaries.Solution/Beneficiaries.Core/obj/project.nuget.cache
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/2b707c2f-1211-4755-ae56-eadc793470c3.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/36f8576b-76a4-4f75-9f24-d03558c6766d.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/4c901e06-3089-4e49-a563-b0c3af970bbd.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/b0f58013-782b-463e-82d5-99eeeecd32b1.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/d02dd90d-7b3c-4093-ac7c-c5bf217b07e8.vsidx
/Beneficiaries.Solution/Beneficiaries.Core/bin/Debug/net6.0/Beneficiaries.Core.deps.json
/Beneficiaries.Solution/Beneficiaries.Core/bin/Debug/net6.0/Beneficiaries.Core.dll
/Beneficiaries.Solution/Beneficiaries.Core/bin/Debug/net6.0/Beneficiaries.Core.pdb
/Beneficiaries.Solution/Beneficiaries.Core/bin/Debug/net6.0/Beneficiaries.Core.runtimeconfig.json
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.csproj.AssemblyReference.cache
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.csproj.CoreCompileInputs.cache
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.csproj.FileListAbsolute.txt
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.dll
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.genruntimeconfig.cache
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.pdb
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.sourcelink.json
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/ref/Beneficiaries.Core.dll
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/refint/Beneficiaries.Core.dll
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/2d4f8f5d-ea94-497a-814c-367fdcdac50a.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/2e517d95-4591-459a-a984-2ba55aa7508a.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/f12f3e17-e9fe-4069-99ee-130513d0dcca.vsidx
/Beneficiaries.Solution/Beneficiaries.API/obj/Beneficiaries.API.csproj.nuget.dgspec.json
/Beneficiaries.Solution/Beneficiaries.API/obj/Beneficiaries.API.csproj.nuget.g.props
/Beneficiaries.Solution/Beneficiaries.API/obj/Beneficiaries.API.csproj.nuget.g.targets
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.AssemblyInfo.cs
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.AssemblyInfoInputs.cache
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.assets.cache
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.csproj.AssemblyReference.cache
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.GeneratedMSBuildEditorConfig.editorconfig
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.GlobalUsings.g.cs
/Beneficiaries.Solution/Beneficiaries.API/obj/project.assets.json
/Beneficiaries.Solution/Beneficiaries.API/obj/project.nuget.cache
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/aa3a159f-cd1c-4429-a462-a4c163cbe326.vsidx
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/appsettings.Development.json
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/appsettings.json
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Beneficiaries.API.deps.json
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Beneficiaries.API.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Beneficiaries.API.exe
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Beneficiaries.API.pdb
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Beneficiaries.API.runtimeconfig.json
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Beneficiaries.Core.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Beneficiaries.Core.pdb
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Humanizer.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.OpenApi.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.Diagnostics.DiagnosticSource.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.Drawing.Common.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.Runtime.Caching.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.Security.Permissions.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/System.Windows.Extensions.dll
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/apphost.exe
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.csproj.CopyComplete
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.csproj.CoreCompileInputs.cache
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.csproj.FileListAbsolute.txt
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.dll
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.genruntimeconfig.cache
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.MvcApplicationPartsAssemblyInfo.cache
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.MvcApplicationPartsAssemblyInfo.cs
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.pdb
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/Beneficiaries.API.sourcelink.json
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/ref/Beneficiaries.API.dll
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/refint/Beneficiaries.API.dll
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/staticwebassets.build.json
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/staticwebassets/msbuild.build.Beneficiaries.API.props
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.Beneficiaries.API.props
/Beneficiaries.Solution/Beneficiaries.API/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.Beneficiaries.API.props
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/4c51a86d-8410-4761-b188-2da13a2e747f.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/89b64f24-2072-4b09-af5f-d9da15c06caf.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/8a38b6c7-c4d8-4843-a3e9-784ca7668c8f.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/c8adc74c-8e73-40b5-88f0-0dc78e8b8e26.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/e282148b-67e0-4027-a941-44ed93beeb36.vsidx
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.Extensions.Configuration.dll
/Beneficiaries.Solution/Beneficiaries.API/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
/Beneficiaries.Solution/Beneficiaries.Core/obj/Beneficiaries.Core.csproj.EntityFrameworkCore.targets
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/22a27bfd-5c1f-450a-b366-03ed8894e0e5.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/95dd9dea-665f-4b70-ac99-5fd5a7813ac4.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/a1a35347-aa0a-4dd6-990a-8719616101b2.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/b108e5f2-99d5-4ece-b365-17e3d67f462e.vsidx
