/Beneficiaries.Solution/.vs/Beneficiaries.Solution/DesignTimeBuild/.dtbcache.v2
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/f4612f64-0775-4977-9287-dfcca2d5f1b1.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/v17/.futdcache.v2
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/v17/.suo
/Beneficiaries.Solution/.vs/ProjectEvaluation/beneficiaries.solution.metadata.v7.bin
/Beneficiaries.Solution/.vs/ProjectEvaluation/beneficiaries.solution.projects.v7.bin
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.AssemblyInfo.cs
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.AssemblyInfoInputs.cache
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.GeneratedMSBuildEditorConfig.editorconfig
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.GlobalUsings.g.cs
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/51ae33b0-6e6c-49b5-85dd-20483fbbda5c.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/92a3fc59-5fb2-4eb0-b14e-9a849fa2379a.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/9b78678a-cefb-4ded-9e4c-0cf2dbe34bce.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/a7034575-6db4-446d-9a96-449aafd6f047.vsidx
/Beneficiaries.Solution/.vs/Beneficiaries.Solution/FileContentIndex/e6c74e34-7b89-4a9b-900b-f32a0242d3e3.vsidx
/Beneficiaries.Solution/Beneficiaries.Core/obj/Beneficiaries.Core.csproj.nuget.dgspec.json
/Beneficiaries.Solution/Beneficiaries.Core/obj/Beneficiaries.Core.csproj.nuget.g.props
/Beneficiaries.Solution/Beneficiaries.Core/obj/Beneficiaries.Core.csproj.nuget.g.targets
/Beneficiaries.Solution/Beneficiaries.Core/obj/Debug/net6.0/Beneficiaries.Core.assets.cache
/Beneficiaries.Solution/Beneficiaries.Core/obj/project.assets.json
/Beneficiaries.Solution/Beneficiaries.Core/obj/project.nuget.cache
