<div class="home-info">
    <h2>Empleados y beneficiarios</h2>
    <div class="separator"></div>
    <div>
      <pre>
        <h2>En la parte superior encontrara un control tipo lista:</h2>
        <h2>1 - Seleccione la opción Empleados para interactuar con las opciones de Empleados</h2> 
        <p>         - Crear, actualizar, eliminar y listar empleados</p>
        <p>         - Seleccionar uno empleado y añadir beneficiarios a su lista</p>
        <p>         - listar beneficiarios por cada empleado</p>
        <p>         - si pulsa la opción de listar beneficiarios por cada empleado, <br>
                  se cargará la opción de beneficiarios con restricción para ese único empleado</p>
        <h2>2 - Seleccione la opción Beneficiarios para interactuar con las opciones de Beneficiarios</h2>
        <p>         - Crear, actualizar, eliminar y listar beneficiarios por cada empleado</p>
      </pre>
    </div>  
</div>
  