<div class="matrix-info">
    <h2>Employee's beneficiaries</h2>
    <div class="separator"></div>
    <div>
      <pre>
        <h2>In the upper side you will find a Select control:</h2>
        <h2>1 - Select Employees option to interact with the Employee's options</h2> 
        <p>         - Create, update, delete and list employees</p>
        <p>         - Select one Employee and add Beneficiaries to the list</p>
        <p>         - Create, update, delete and list Beneficiaries for each Employee</p>
        <h2>2 - Select Beneficiaries option to interact with the Beneficiaries' options</h2>
        <p>         - Create, update, delete and list Beneficiaries for each Employee</p>
      </pre>
    </div>  
</div>
  