
<div class="mat-app-backgroud basic-container">
	<div class="contain-main">
		<div class="contain-head">
			<div class="contain-title" (click)="toggleCollapse()">Click to add employee</div> 
		</div>
		<div class="contain-body">
			<div id="addEdit" [class.collapsed]="isCollapsed" [class.expanded]="!isCollapsed">
				<div class="contain-table">
					<div class="form-container">
						<form #employeeForm="ngForm">  
                
							<div class="form-group">
								<label class="labelText" for="selectCountryId">Country:</label> 
								<div class="select-container-intern">
									<div class="select-container">
									  <select id="selectCountryId" 
											  name="selectCountryId"
											  placeholder="CountryId" 
											  [(ngModel)]="selectCountryId" 
											  required
											  #countryIdField="ngModel"
											  [ngClass]="{ 'select-container': true, 'ng-invalid': countryIdField.invalid && (countryIdField.dirty || countryIdField.touched) }">
										<option *ngFor="let option of countryIdOptions" 
												[value]="option.id">{{ option.name }}</option>
									  </select>
								  </div>
								</div>
							</div> 

							<div class="form-group">
								<label class="labelText" for="employeeNumber">Employee Number:</label>
								<input class="inputText" 
										type="number"
										id="employeeNumber" 
										name="employeeNumber" 
										[(ngModel)]="employeeNumber"
										maxlength="10"
										required
										#employeeNumberField="ngModel"
										[ngClass]="{ 'inputText': true, 'ng-invalid': employeeNumberField.invalid && (employeeNumberField.dirty || employeeNumberField.touched) }">
							</div>

							<div class="form-group">
								<label class="labelText" for="name">Name:</label>
								<input class="inputText" 
								type="text"
								id="name" 
								name="name" 
								[(ngModel)]="name"
								maxlength="50"
								required
								#nameField="ngModel"
								[ngClass]="{ 'inputText': true, 'ng-invalid': nameField.invalid && (nameField.dirty || nameField.touched) }">
							</div>
							
							<div class="form-group">
								<label class="labelText" for="lastName">Last name:</label>
								<input class="inputText" 
								type="text" 
								id="lastName" 
								name="lastName" 
								[(ngModel)]="lastName"
								maxlength="50"
								required
								#lastNameField="ngModel"
								[ngClass]="{ 'inputText': true, 'ng-invalid': lastNameField.invalid && (lastNameField.dirty || lastNameField.touched) }">
							</div>
							
							<div class="form-group">
								<label class="labelText" for="birthDay">Birthday:</label>
								<input class="inputText" 
								type="date" 
								id="birthDay" 
								name="birthDay" 
								[(ngModel)]="birthDay"
								required
								#birthDayField="ngModel"
								[ngClass]="{ 'inputText': true, 'ng-invalid': birthDayField.invalid && (birthDayField.dirty || birthDayField.touched) }">
							</div>
							
							<div class="form-group">
								<label class="labelText" for="curp">CURP:</label>
								<input class="inputText" 
								type="text" 
								id="curp" 
								name="curp" 
								[(ngModel)]="curp"
								maxlength="50"
								required
								#curpField="ngModel"
								[ngClass]="{ 'inputText': true, 'ng-invalid': curpField.invalid && (curpField.dirty || curpField.touched) }">
							</div>
							
							<div class="form-group">
								<label class="labelText" for="ssn">SSN:</label>
								<input class="inputText" 
								type="text" 
								id="ssn" 
								name="ssn" 
								[(ngModel)]="ssn"
								maxlength="50"
								required
								#ssnField="ngModel"
								[ngClass]="{ 'inputText': true, 'ng-invalid': ssnField.invalid && (ssnField.dirty || ssnField.touched) }">
							</div>
							
							<div class="form-group">
								<label class="labelText" for="phoneNumber">Phone number:</label>
								<input class="inputText" 
								type="text" 
								id="phoneNumber" 
								name="phoneNumber" 
								[(ngModel)]="phoneNumber"
								maxlength="50">
							</div> 
							
						</form>
						<button class="button" type="submit" (click)="submitForm()">Submit</button>
					</div>
				</div>
			</div>
			<div class="separator"></div>
			<app-employee-list></app-employee-list>
		</div>
	</div>
</div>