<div class="triangle"> 
    <div class="containerModal"> 
        <div class="divContainerButton">
            <div class="buttonActions fa fa-camera-retro" (click)="invokeWatchClickEvent()">
                Ver
            </div>
            <div class="separator"></div>
            <div class="buttonActions fa fa-camera-retro" (click)="invokeWatchClickEvent()">
                Editar
            </div>
            <div class="separator"></div>
            <div class="buttonActions fa fa-camera-retro" (click)="invokeWatchClickEvent()">
                Beneficiarios
            </div>
        </div> 
    </div>
</div>